{% block content %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <style>
        #map 
        {
            position: relative;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    </style>
</head>

<body>
    <h1 id="latlong"></h1>

    <div id="map" style="width: 450px; height: 640px"></div>

    <script>
        //start positie van de kaart "utrecht"
        var map = L.map("map").setView([52.0795, -354.89], 7);

        //map request en kaartstijl 
        L.tileLayer("http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {maxZoom: 18,}).addTo(map);

        async function newMarker(e) 
        {
            var new_mark = L.marker().setLatLng(e.latlng).addTo(map);
            new_mark.dragging.enable();

            //creer een onclick event
            new_mark.on("dblclick", function (e) {map.removeLayer(e.target);});

            // lees de geklikte coordinaten uit
            var lat = e.latlng.lat.toFixed(4);
            var lng = e.latlng.lng.toFixed(4);

            // reken negatieve coordinaten om naar positief, anders geeft de reverse geolookup een error    
            var latRequest = (Number(lat) < 0) ? (Number(lat) + 360).toString() : lat;
            var lngRequest = (Number(lng) < 0) ? (Number(lng) + 360).toString() : lng;
            
            //reverse geolookup request string
            var url = "http://api.openweathermap.org/geo/1.0/reverse?lat=" + latRequest + "&lon="+ lngRequest +"&limit=5&appid=fc0ee932b46a6d6f6005a759cf770937"
           
            //reverse lookup get request
            var name;
            var namesJson = await fetch(url)
                .then(response => response.json())
                .then(data => {name = data;});
 
            // stel de vertoonbare text samen
            var latlong = lat.toString() + ", " + lng.toString() + ": " + name[0]['name'];
            
            //plaats text op de pagina
            document.getElementById("latlong").innerHTML = latlong;

            //zet een marker op de kaart
            new_mark.bindPopup(latlong);
            
        }

        map.on("click", newMarker);
    </script>
</body>

{% endblock %}